
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  /* .about-hr1{
    width: 30%;
    margin-left: 35%;  
} */
  .about-wrapper {
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 1%;
    /* background-color:white; */
    width: 60%;
    height: 20%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .about-h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 5%;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   
  }
  
  .about-partner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
  }
  
  .about-partner-mem {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 150px; 
  }
  
  .about-partner-mem img {
    width: 100px;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.4);
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
 
  .about-partner-mem img:hover {
    transform: scale(1.1);
  }
  .about-partner-mem h4{
    font-size: 14px;
    margin: 5px 0; 
  }
  .about-partner-mem p{
    font-size: 14px;
    margin: 5px 0; 
  }
  

  .about-partner-mem h4{
    font-size: 14px;
    font-weight: bold;
    font-weight: 100px;
  }
  .about-partner-mem p{
    font-size: 14px;
    margin: 5px 0; 
    color: #7a7070;
  }

  .about-about-us{
    padding: 4% 10%;
}
  .about-about-us{
    padding-left:100px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 254, 254);
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap:4rem;
  }
  .about-main-img img{
    position: relative;
    top:50px;
    left:50px;
  height: 300px;
  width:400px;
 
  }
  .about-main-img{
    display: flex;
    flex-direction: row;
  }
  .about-div1{
    background-color: #dbe5f1;
    width:300px;
    height: 400px;
}

.about-text{
    padding: 6% 0;
}
.about-text h1{
    color: rgb(1, 1, 1);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}


.about-main-div-services{
display: flex;
flex-direction:column;
margin-left: 6%; /**/
margin-top: -8%;
margin-bottom: 8%;
background-color:white;
width: 60%;
height: 20%;
border-radius: 10px;
text-align: center;
}

.about-main-cards{
    margin-top: 6%;
    display: flex;
    width:150%;
    flex-direction:row;
    justify-content: space-between;
}
.about-text-services h3{
     padding-left:44%;
     color: #050505aa;
     padding-bottom: 20px;
}
.about-text-services h2{
    padding-left:44%;
    color:#000000

}
.about-card1,
.about-card2,
.about-card3
 {
    margin-right: 30px;
    width:100%;
    box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.4);
margin-top: 2.4%;
}
.about-card1 img{
width: 100px;
box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.4);
height: 100px;
border-radius: 50%;
margin-top: -20%;
margin-bottom: 10px;
transition: transform 0.3s ease; 
}

.about-card1 img:hover {
transform: scale(1.1);
}
.about-card2 img{
    width: 100px;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.4);
    height: 100px;
    margin-top: -20%;

    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    }
    
    .about-card2 img:hover {
    transform: scale(1.1); 
    }
    .about-card3 img{
        width: 100px;
        margin-top: -20%;
        box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.4);
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
        transition: transform 0.4s ease; 
        }
        
        .about-card3 img:hover {
        transform: scale(1.1);
        }
        .about-card1 h3{
            color: #000000;
            font-size: 16px;
            margin: 5px 0;   
            
          }
        .about-card2 h3{
            color: #000000;
            font-size: 16px;
              margin: 5px 0; 
        }
        .about-card3 h3{
            color: #000000;
            font-size: 16px;
            margin: 5px 0; 
        }
        .about-card1 p{
            color: #7a7070;
            margin-bottom: 10%;
           padding-top: 20px;
            font-size: 15px;
          letter-spacing: 1px;
          }
        .about-card2 p{
            color: #7a7070;
            padding-top: 20px;
            font-size: 15px;
            margin-bottom: 10%;
            letter-spacing: 1px;

        }
        .about-card3 p{
            letter-spacing: 1px;
            color: #7a7070;
            padding-top: 20px;
            font-size: 15px;
            margin-bottom: 10%;
        }




      .about-team-container{
        display: flex;
        position:relative;
        max-width: 60%;
        width:60%;
        margin-left: 20%;
        margin-top: 2%;
        margin-bottom: 1%;
        background-color:white;
        padding: 20px;
   
      }
      .about-team-box{
        /* display: flex; */
        width:100%;
        flex:1;
        transition: .6s;
        /* overflow:hidden;    */
      }
      .about-team-box:hover{
        display: flex;
        flex:1;
        transition: .6s;
        /* overflow:hidden;    */
      }
        .about-team-box img{
            transition: 0.5s;
             width:100%;
             height: 300px;
             object-fit:cover;
             filter:grayscale(1);
            
             
        }
        .about-team-box h3{  
            position: absolute;
            display:inline;
            /* top: 8px; */
            /* padding-bottom:-3%; */
            padding-right: 20%;
            /* letter-spacing: 1px; */
            /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
        }

        /* .about-team-box h3:hover{  
            display:none;
            } */
        .about-team-box p{  
            /* width: fit-content; */
            width:30px;
            position: absolute;
            /* object-fit: contain; */
            /* padding-left:4%; */
            padding-top:37%;
            color: #000000;
            font-size: 15px;
            margin-bottom: 10%;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            }
            
        .about-team-box:hover{
            flex:2;
        }
        .about-team-box:hover img{
            filter:grayscale(0);
            transform: scaleZ(1.5);


        }
.about-mem-h1{
    text-align: center;
    font-size: 24px;
    margin-top: 5%;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   
}


/* .about-partner-main{
  background-size: cover;
  background: linear-gradient(180deg, rgba(140, 204, 232, 0.8), rgba(95, 72, 72, 0.6)), url(https://t4.ftcdn.net/jpg/04/88/36/59/360_F_488365960_DR2CUhFVyPTBHtHMNZ9toR2taLWKx6U3.jpg)no-repeat;
  height: 100%;
  background-size: 100%;

} */

/* .about-hero{
  width:100%;
  background: linear-gradient(180deg, rgba(183, 195, 199, 0.8), rgba(95, 72, 72, 0.6)), url(https://t4.ftcdn.net/jpg/04/88/36/59/360_F_488365960_DR2CUhFVyPTBHtHMNZ9toR2taLWKx6U3.jpg)no-repeat;

} */
/* .about-hero-background{
  width:100%;
  height: 1000%;
} */
.about-hero{
  width: 100%;
  height: 100vh;
  position: relative;
}

.about-hero img{
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

