
.about-about-us{
    padding: 4% 10%;
}
  .about-about-us{
    padding-left:100px;
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(255, 254, 254);
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap:4rem;
  }
  .about-main-img img{
    position: relative;
    top:50px;
    left:50px;
  height: 300px;
  width:425px;
 
  }
  .about-main-img{
    display: flex;
    flex-direction: row;
  }
  .about-div1{
    background-color: #dbe5f1;
    width:300px;
    height: 400px;
}

.about-text{
    padding: 6% 0;
}
.about-text h1{
    color: #005f8bc5;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}
@media screen and (max-width : 1000px){ 
 .about-text{
    padding: 6% 2%;
}
.about-main-img img{
  top:50px;
  left:-30px;
  width:120%;
}


 }
@media screen and (max-width : 550px){ 
  .about-about-us{
    margin-top: 10%;
    margin-bottom: -66%;
}
  .about-text{
    padding: 6% 2%;
    width:333px;
}
.about-main-img img{
  top:50px;
  left:20px;
  width:333px;
}
.about-about-us{
  padding-left:10px;
 
}


/* .about-text h1{
 
  font-weight: 50;
  margin-bottom: 10px;
} */

@media screen and (max-width : 790px){ 
 
  .about-text{
    padding: 9% 2%;
    width:303px;

}
.about-main-img img{
  top:50px;
  left:20px;
  width:333px;
}

  
}}