
.about-wrapper {

    margin-top: 2%;
    margin-bottom: 1%;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
  }
  
  .about-partner-h2 {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
      font-size: 24px;
      margin-top: 3%;
      color: #333;
      letter-spacing: 1px;
  }
  
  .about-partner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    
  }
  
  .about-partner-mem {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 150px; 
  }
  
  .about-partner-mem img {
    width: 100px;
    height: 100px;
    border-style:solid;
    border-width: 1px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
 
  .about-partner-mem img:hover {
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }
  .about-partner-mem h4{
    font-size: 14px;
    margin: 5px 0; 
    

  }
  .about-partner-mem p{
    font-size: 14px;
    margin: 5px 0; 
  }
  

  .about-partner-mem h4{
    font-size: 14px;
    font-weight: bold;
    font-weight: 100px;
  }
  .about-partner-mem p{
    font-size: 14px;
    margin: 5px 0; 
    color: #7a7070;
  }






     




