.main-div-fav{
    display: flex;
    height: 100vh;
}
.data-fav{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(247,248,249);;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.side-bar-fav {
    width: 18%;
    background-color: rgb(0, 43, 75);
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    img {
      width: 100%; 
      max-width: 280px; 
    }
  }
.fav-header{

    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
    
}
.table-header-fav{
    background-color: rgb(247,248,249);;
    width: 62%;
    display: flex;
    justify-content: space-between;
   
    margin: 0 100px;
    p{
        font-weight: 600;
    }

}
.cardNumber1{
    width: 100%;
display: flex;
justify-content: space-between;
gap: 15px;
align-items: center;
}