.descImg__main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .descImg__upload{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        .descImg__title{
            width: 100%;
            text-align: center;
        }
        .desciImg__form{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            input[type="file"] {
                display: none;
            }
            input[type="submit"]{
                width: 70%;
                border-radius: 7px;
                height: 35px;
            }
            .custom-file-upload {
                height: 60%;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            border: 2px solid #000;
            border-bottom: none;
            display: inline-block;
            padding: 6px 12px;
           cursor: pointer;
           p{
            font-size: 30px;
           }
           i{
            font-size: 100px;
           }
}
        }
        
    }
    .descImg__desc{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction:column;
        align-items: center;
        textarea{
            width: 70%;
            padding: 20px;
            font-weight: 500;        
            height: 70%;    
        }
    }
}