.main-div-for-detalis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(247,248,249);
   
}

.contant {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    // min-height: 500vh;
    gap: 5px;

}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
}

.slider img {
    width: 95% !important;
}

.allDeitalis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 110vh;
    gap: 20px;

    .icons {
        margin-left: 10px;
        font-weight: 700;
        #purpose{
            background-color: #c7c1c1dc;
            // color: white;
            padding: 5px;
            width: fit-content;
            margin-bottom: 5px;
            font-weight: 600;   
            font-family: system-ui;
        }
        p {
            font-weight: 700;
            font-size: 18px;
        }

        i {
            font-size: 20px;
            color: rgb(48, 35, 235);
        }

        p {
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 0;
        }

    }

    .main-description {
        display: flex;
        flex-direction: column;

        gap: 10px;

        .description {
            font-family: 'Times New Roman', Times, serif;
            // border: 3px dashed rgb(29, 29, 202);
            border-radius: 10px;
            font-size: 18px;
            padding: 8px;
            line-height: 1.3;
            background: #fff;
            filter: drop-shadow(0 0 3px rgba(124, 123, 123, 0.952));

            h2 {
                font-size: 24px;
                font-weight: 700;
                font-family: system-ui;
                padding-bottom: 25px;
                border-bottom: 2px solid gray;
            }

            p {
                
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                line-height: 25px;
                text-transform: none;

            }

        }
    }

    .test {
        display: flex;
        gap: 10px;

    }

    .Features-div {
        height: 500px;
        display: flex;
        flex-direction: column;
        // gap: 50px;
        margin-top: 15px;

        
        .Features1 {
            margin-top: 25px;
            width: 100%;
            border-radius: 10px;
            background: #fff;
            padding: 5px;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 6px;
            filter: drop-shadow(0 0 2px rgba(10, 0, 0, 0.3));
        }

        .Features {
            filter: drop-shadow(0 0 5px rgba(10, 0, 0, 0.3));
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            justify-content: space-between;
            flex-wrap: wrap;
            background: #fff;


           

            margin-bottom: 10px;

            p {
                i {
                    font-size: 17px;
                    color: rgb(5 249 86);
                }
                color:black;
                font-size: 18px;
                font-weight: 600;
                width: 30%;
                padding-left: 10px;
                padding-top: 8px;
                font-family: system-ui;
               
            }
        }
    }


}

.titelP {
    font-size: 20px;
    font-weight: 600;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 195px;
    width: 35%;
    font-family: system-ui;
    gap: 10px;

    // filter: drop-shadow(0 0 5px rgba(10, 0, 0, 0.3));
    i {
        font-size: 18px;
        color: rgb(48, 35, 235);
    }

    .contact-info {
        // width: 35% ;
        background: #fff;
        font-size: 16px;
        padding: 6px;
        font-weight: 600;
        font-family: system-ui;
        filter: drop-shadow(0 0 2px rgba(10, 0, 0, 0.3));

    }

}

.Property-Details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    gap: 6px;
    font-family: system-ui;


    i {
        font-size: 18px;
        color: rgb(48, 35, 235);
    }

    .Property-info {
        // width: 40% ;
        background: #fff;
        font-size: 16px;
        padding: 6px;
        font-weight: 600;
        font-family: system-ui;
        filter: drop-shadow(0 0 2px rgba(10, 0, 0, 0.3));

    }

}

.video-section {
 
    gap: 15px;
    margin: 10px;
    background-color: #fff;
    width: 100%;
    
    filter: drop-shadow(0 0 2px rgba(10, 0, 0, 0.3));
   
    .video-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .video-dis {
        filter: drop-shadow(0 0 2px rgba(5, 0, 0, 0.3));
        font-size: 16px;
        padding: 6px;
        font-weight: 600;
        font-family: system-ui;
        background-color: #b1cadb;
        // width: 45%;
    }
    p{
        font-size: 24px;
        font-weight: 700;
        padding: 15px;
        border-bottom: 2px solid gray;
      }
}
.cards-section{
    filter: drop-shadow(0 0 2px rgba(5, 0, 0, 0.3));
    background-color: #fff;
    width: 100%;    
    #cards-titel{
        font-size: 24px;
        font-weight: 700;
        font-family: system-ui;
        padding: 15px 25px;
        
        border-bottom: 2px solid gray;
    }
    
    .cards-div{
        display: flex;
        justify-content: space-around;
    }
}