
.sell-contact-container{
width:100%;
height: 100vh;
display:flex;
justify-content: center;
flex-direction: column;

}
.sell-contact-container h2{
  height:66px;
  display:flex;
  justify-content: center;
}
.sell-contact-container p{
    display:flex;
    justify-content: center;
    color: rgba(142, 139, 139, 0.913);

  }
.sell-contact{
   width: 100%;
   display:flex;
   padding-left:100px;
  justify-content: center;
  
}
.sell-contact hr{
    width:500px;
    
}
.sell-contact label{
    font-weight: bold;
    font-size: 18px;
    padding-left:10px;

}

.sell-contact input[type='text'],[type='tel']{
    width:90%;
    height:18%;
    border:1px solid black;
    border-radius: 4px;
}
.sell-contact .placeholder{
    color:rgba(142, 139, 139, 0.913);
}
.sell-contact input:hover{
    border:2px solid black;
    border-radius: 4px;
}

.sell-contact input[type='submit']{
    width:90%;
    height:20%;
    font-size: 18px;
    border:1px solid gray;
    border-radius: 10px;
    background-color: rgb(131, 181, 214);

}
.sell-contact input[type='submit']:hover{
    background-color: rgb(152, 188, 211);
    border-color: white;
}