body{
     margin: 0;
     padding: 0;
}


.hero-home{
     width: 100%;
     height: 100vh;
     position: relative;
}

.over-lay{
     position: absolute;
     background-color: rgba(0, 0, 0, 0.148);
     z-index: 1;
     width: 100%;
     height: 100vh;
     top: 0;
}

.hero-home video{
     width: 100%;
     object-fit: cover;
     height: 100vh;
}

.Hero-contant{
     position: absolute;
     width: 50%;
     height: 100vh;
     color: white;
     top: 0;
     left: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.Hero-contant{
     color: rgba(255, 255, 255, 0.86);
     font-weight: bold;
     font-family: 'Gill Sans';
     z-index: 10;
}

.hero-home p{
     font-size: 25px;
     font-family:sans-serif;
     color: rgba(255, 255, 255, 0.86);
     font-weight: 400;
}

.hero-home .btn{
     display: flex;
     padding-left: 0;
     border: none;
     width: 192px;
}

.hero-home .btn .btn-hero{
     border-radius: 8px;
     border: none;
     padding: 10px;
     margin-right: 5px;
     width: 85px;
     transition: 1s;
     color: #709ac8;
     font-size: 18px
     
}



.hero-home .rent:hover{
     background-color: #005f8b;
     color: white;
     font-size: 18px;
}
.hero-home .sell:hover{
     background-color: #005f8b;
     color: white;
     font-size: 18px;
}

.hero-home .section1{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 300px;
     gap: 40px;
     position: relative;
     top: -150px;
     z-index: 10;
}

.hero-home .section1 .card{
     background-color: white;
     width: 250px;
     height: 150px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     align-items: start;
     justify-content: center;
     padding : 25px;
     color: #709ac8;
}

.hero-home .section1 .card h3{
     font-size: 20px;
}

.hero-home .section1 .card .icon{
     font-size: 30px;
}

.hero-home .section1 .card::after{
     content: "";
     width: 100px;
     border: 2px solid #709ac8;
     position: absolute;
     top: 120px;
     right: 15px;
     color: #709ac8;

}

@media screen and (max-width : 700px){
     .hero-home .section1{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 200px;
          gap: 20px;
          position: relative;
          top: -100px;
          flex-wrap: wrap;
     }

     .Hero-contant{
          position: absolute;
          width: 50%;
          height: 100vh;
          color: white;
          top: 0;
          left: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
     }

     

.hero-home p{
     font-size: 15px;
}
     

}

