.scroll-to-up{
     position: fixed;
     top: 84vh;
     right: 10px;
     width: 100px;
     height: 100px;
     color: rgba(21, 120, 206, 0.727);
     z-index: 101;
     font-size: 40px;
     transition: 0.5s;
     cursor: pointer;
}

@media screen and (max-width : 800px){
     .scroll-to-up{
          right: -30px;
     }
}