.scroll-progress{
     width: 0;
     height: 5px;
     position: fixed;
     z-index: 9999;
     background-color: #2d708b;
     left: 0;
     top: 0;
     transition: 0.1s ;
     border-radius: 5px;
}