.property__filters{
 display: flex;   
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 300px;
 overflow: hidden;
 transition: all .5 ease-in;

 .hide__filters{
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   overflow: hidden;
   align-self: center;
   height: 20%;
   gap: 20px;
   transition: all .5s ease-in;
 }

.show__AllFilters{
   height: 100%;
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   overflow: hidden;
   align-self: center;
   height: 80%;
   gap: 20px;
   transition: all .5s ease-in;

}
h5{
   color: #005f8b;
   font-size: 25px;
}
}
