.fav-cards-main {
    margin-left: 10px;
    display: flex;
    width: 90%;
    filter: drop-shadow(0 0 2px rgba(10, 0, 0, 0.3));
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #fff;

    p {
        font-family: sans-serif;
    }
    
    img {
        padding: 6px;
        object-fit: cover;

        height: 90px;


    }

    .fav-card-titel {
        width: 150px;
        font-size: 15px;
        line-height: 1.1;



    }

    i {
        color: blue;
        font-size: 22px;
    }

    .icons-fav-card {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .main-cards-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

}
.button-fav-card{
    padding: 5px;
    background: white;
    color: #fff;
    border-radius: 10%;
    border: none;
    font-weight: 600;
}
.button-fav-card i{
    transition: 0.5s;
    color: black;
    font-size: 17px;
}
.button-fav-card i:hover{
    color: rgb(255, 0, 0)
}
.fav-cards-main:hover{
 transform: scale(1.02);
}   
.fav_detalis{
    display: flex;
    position: relative;
    left: 20%;
    justify-content: space-between;
    align-items: center;
}