.sell-section2{
    width:100%;
    height:calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sell-text-section2{
    width:45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.sell-text-section2 p,h1{
    width:70%;
}

.sell-text-section2 h1{
    color: rgb(55, 161, 180);
}
.sell-text-section2 p{
    font-size: 20px;
}
.sell-img-section2{
    width:40%;
    height: 70%;
    border-radius: 21px;
}

.sell-img-section2 img{
    width:100%;
    height: 100%;
    /* border-style: solid; */
    /* border-color: black; */
    /* border-radius: 21px; */
}
.sell__section2Btn {
    width:30%;
    height: 45px;
    display: block;
  padding: 10px 20px;
  align-self: center;
  background-color: #709ac8;
  align-self: flex-start;
  margin-top: 10%;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
  }
  
  .sell__section2Btn:hover {
    background-color: #0056b3;
  }
 