.city-sell-container{
    width:100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

.sell-city{
    width:400px;
    height: 400px;
    background-color:rgb(44, 125, 172)
    
}
.sell-type{
    width:400px;
    height: 400px;
    background-color: rgb(44, 125, 172)
}
